Package: caophuocthanh.ptcontrol
Name: PTControl
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Cao Phuoc Thanh
Author: Cao Phuoc Thanh
Section: Tweaks
